name: Preprocess and Train Model

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run preprocessing
        run: |
          python preprocess.py \
            --input data/HDFS.log \
            --out_df output/output.csv

      - name: Train model
        run: |
          python train.py

      - name: Upload model artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-and-metrics
          path: |
            models/model_v1.pkl
            models/metrics_v1.json
